introduction pandas

In [2]:
import pandas as pd

In [3]:
family=pd.Series(["saman","shohre","raybod"])

In [4]:
print(family)

0     saman
1    shohre
2    raybod
dtype: object

In [5]:
friend=pd.Series(["shiva","arash","yara"])

In [6]:
pd.DataFrame({"Family":family,"Freind":friend})

   Family Freind
0   saman  shiva
1  shohre  arash
2  raybod   yara

In [7]:
Colouers=pd.Series(["red","blue","green"])

In [8]:
clothes=pd.Series(["jacket","shirt","skirt"])

In [9]:
pd.DataFrame({"Clothes":clothes,"Colouers":Colouers})

  Clothes Colouers
0  jacket      red
1   shirt     blue
2   skirt    green

In [10]:
price=pd.Series(["200","300","350"])

In [11]:
pd.DataFrame({"Clothes":clothes,"Colouers":Colouers,"Price":price})

  Clothes Colouers Price
0  jacket      red   200
1   shirt     blue   300
2   skirt    green   350

In [12]:
laliga_data=pd.read_csv("es.1.csv")

In [13]:
laliga_data

     Round             Date              Team 1   FT                Team 2
0        1  Sat Sep 12 2020            SD Eibar  0-0         RC Celta Vigo
1        1  Sat Sep 12 2020          Granada CF  2-0  Athletic Club Bilbao
2        1  Sat Sep 12 2020            Cádiz CF  0-2            CA Osasuna
3        1  Sun Sep 13 2020        FC Barcelona  NaN              Elche CF
4        1  Sun Sep 13 2020         Real Madrid  NaN             Getafe CF
..     ...              ...                 ...  ...                   ...
375     38  Sun May 23 2021          CA Osasuna  NaN         Real Sociedad
376     38  Sun May 23 2021         Real Madrid  NaN         Villarreal CF
377     38  Sun May 23 2021          Sevilla FC  NaN      Deportivo Alavés
378     38  Sun May 23 2021  Real Valladolid CF  NaN       Atlético Madrid
379     38  Sun May 23 2021            Elche CF  NaN  Athletic Club Bilbao

[380 rows x 5 columns]

In [14]:
laliga_data.head(5)

   Round             Date        Team 1   FT                Team 2
0      1  Sat Sep 12 2020      SD Eibar  0-0         RC Celta Vigo
1      1  Sat Sep 12 2020    Granada CF  2-0  Athletic Club Bilbao
2      1  Sat Sep 12 2020      Cádiz CF  0-2            CA Osasuna
3      1  Sun Sep 13 2020  FC Barcelona  NaN              Elche CF
4      1  Sun Sep 13 2020   Real Madrid  NaN             Getafe CF

In [15]:
laliga_data.head(20)

    Round             Date              Team 1   FT                Team 2
0       1  Sat Sep 12 2020            SD Eibar  0-0         RC Celta Vigo
1       1  Sat Sep 12 2020          Granada CF  2-0  Athletic Club Bilbao
2       1  Sat Sep 12 2020            Cádiz CF  0-2            CA Osasuna
3       1  Sun Sep 13 2020        FC Barcelona  NaN              Elche CF
4       1  Sun Sep 13 2020         Real Madrid  NaN             Getafe CF
5       1  Sun Sep 13 2020    Deportivo Alavés  0-1            Real Betis
6       1  Sun Sep 13 2020  Real Valladolid CF  1-1         Real Sociedad
7       1  Sun Sep 13 2020       Villarreal CF  1-1             SD Huesca
8       1  Sun Sep 13 2020         Valencia CF  4-2            Levante UD
9       2  Sat Sep 19 2020       Villarreal CF  2-1              SD Eibar
10      2  Sat Sep 19 2020           Getafe CF  1-0            CA Osasuna
11      2  Sat Sep 19 2020       RC Celta Vigo  2-1           Valencia CF
12      2  Sun Sep 20 2020          Levante UD  NaN       Atlético Madrid
13      2  Sun Sep 20 2020          Sevilla FC  NaN              Elche CF
14      2  Sun Sep 20 2020           SD Huesca  0-2              Cádiz CF
15      2  Sun Sep 20 2020          Real Betis  2-0    Real Valladolid CF
16      2  Sun Sep 20 2020          Granada CF  2-1      Deportivo Alavés
17      2  Sun Sep 20 2020       Real Sociedad  0-0           Real Madrid
18      3  Sat Sep 26 2020    Deportivo Alavés  0-0             Getafe CF
19      3  Sat Sep 26 2020         Valencia CF  1-1             SD Huesca

# Describe Data

In [16]:
laliga_data.dtypes

Round      int64
Date      object
Team 1    object
FT        object
Team 2    object
dtype: object

In [17]:
laliga_data.columns

Index(['Round', 'Date', 'Team 1', 'FT', 'Team 2'], dtype='object')

In [18]:
laliga_data.describe()

            Round
count  380.000000
mean    19.500000
std     10.980313
min      1.000000
25%     10.000000
50%     19.500000
75%     29.000000
max     38.000000

In [19]:
laliga_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Round   380 non-null    int64
 1   Date    380 non-null    object
 2   Team 1  380 non-null    object
 3   FT      83 non-null     object
 4   Team 2  380 non-null    object
dtypes: int64(1), object(4)
memory usage: 15.0+ KB

In [20]:
laliga_data

     Round             Date              Team 1   FT                Team 2
0        1  Sat Sep 12 2020            SD Eibar  0-0         RC Celta Vigo
1        1  Sat Sep 12 2020          Granada CF  2-0  Athletic Club Bilbao
2        1  Sat Sep 12 2020            Cádiz CF  0-2            CA Osasuna
3        1  Sun Sep 13 2020        FC Barcelona  NaN              Elche CF
4        1  Sun Sep 13 2020         Real Madrid  NaN             Getafe CF
..     ...              ...                 ...  ...                   ...
375     38  Sun May 23 2021          CA Osasuna  NaN         Real Sociedad
376     38  Sun May 23 2021         Real Madrid  NaN         Villarreal CF
377     38  Sun May 23 2021          Sevilla FC  NaN      Deportivo Alavés
378     38  Sun May 23 2021  Real Valladolid CF  NaN       Atlético Madrid
379     38  Sun May 23 2021            Elche CF  NaN  Athletic Club Bilbao

[380 rows x 5 columns]

In [21]:
copy_laliga_data=pd.to_csv("es.1.csv")

AttributeError: module 'pandas' has no attribute 'to_csv'

In [22]:
laliga_data.to_csv("Copy_laliga_data")

In [23]:
copy_laliga_data=pd.read_csv("Copy_laliga_data")
copy_laliga_data

,Unnamed: 0,Round,Date,Team 1,FT,Team 2
0,0,1,Sat Sep 12 2020,SD Eibar,0-0,RC Celta Vigo
1,1,1,Sat Sep 12 2020,Granada CF,2-0,Athletic Club Bilbao
2,2,1,Sat Sep 12 2020,Cádiz CF,0-2,CA Osasuna
3,3,1,Sun Sep 13 2020,FC Barcelona,NaN,Elche CF
4,4,1,Sun Sep 13 2020,Real Madrid,NaN,Getafe CF
...,...,...,...,...,...,...
375,375,38,Sun May 23 2021,CA Osasuna,NaN,Real Sociedad
376,376,38,Sun May 23 2021,Real Madrid,NaN,Villarreal CF
377,377,38,Sun May 23 2021,Sevilla FC,NaN,Deportivo Alavés
378,378,38,Sun May 23 2021,Real Valladolid CF,NaN,Atlético Madrid
379,379,38,Sun May 23 2021,Elche CF,NaN,Athletic Club Bilbao

In [24]:
copy_laliga_data.dtypes

Unnamed: 0     int64
Round          int64
Date          object
Team 1        object
FT            object
Team 2        object
dtype: object

In [25]:
copy_laliga_data.columns

Index(['Unnamed: 0', 'Round', 'Date', 'Team 1', 'FT', 'Team 2'], dtype='object')

In [26]:
laliga_data.columns

Index(['Round', 'Date', 'Team 1', 'FT', 'Team 2'], dtype='object')

In [27]:
copy_laliga_data.describe

<bound method NDFrame.describe of      Unnamed: 0  Round             Date              Team 1   FT  \
0             0      1  Sat Sep 12 2020            SD Eibar  0-0
1             1      1  Sat Sep 12 2020          Granada CF  2-0
2             2      1  Sat Sep 12 2020            Cádiz CF  0-2
3             3      1  Sun Sep 13 2020        FC Barcelona  NaN
4             4      1  Sun Sep 13 2020         Real Madrid  NaN
..          ...    ...              ...                 ...  ...
375         375     38  Sun May 23 2021          CA Osasuna  NaN
376         376     38  Sun May 23 2021         Real Madrid  NaN
377         377     38  Sun May 23 2021          Sevilla FC  NaN
378         378     38  Sun May 23 2021  Real Valladolid CF  NaN
379         379     38  Sun May 23 2021            Elche CF  NaN

                   Team 2
0           RC Celta Vigo
1    Athletic Club Bilbao
2              CA Osasuna
3                Elche CF
4               Getafe CF
..                    ...
375         Real Sociedad
376         Villarreal CF
377      Deportivo Alavés
378       Atlético Madrid
379  Athletic Club Bilbao

[380 rows x 6 columns]>

In [28]:
copy_laliga_data.describe()

       Unnamed: 0       Round
count  380.000000  380.000000
mean   189.500000   19.500000
std    109.840794   10.980313
min      0.000000    1.000000
25%     94.750000   10.000000
50%    189.500000   19.500000
75%    284.250000   29.000000
max    379.000000   38.000000

In [29]:
laliga_data.head()

   Round             Date        Team 1   FT                Team 2
0      1  Sat Sep 12 2020      SD Eibar  0-0         RC Celta Vigo
1      1  Sat Sep 12 2020    Granada CF  2-0  Athletic Club Bilbao
2      1  Sat Sep 12 2020      Cádiz CF  0-2            CA Osasuna
3      1  Sun Sep 13 2020  FC Barcelona  NaN              Elche CF
4      1  Sun Sep 13 2020   Real Madrid  NaN             Getafe CF

In [30]:
copy_laliga_data.head(5)

   Unnamed: 0  Round             Date        Team 1   FT                Team 2
0           0      1  Sat Sep 12 2020      SD Eibar  0-0         RC Celta Vigo
1           1      1  Sat Sep 12 2020    Granada CF  2-0  Athletic Club Bilbao
2           2      1  Sat Sep 12 2020      Cádiz CF  0-2            CA Osasuna
3           3      1  Sun Sep 13 2020  FC Barcelona  NaN              Elche CF
4           4      1  Sun Sep 13 2020   Real Madrid  NaN             Getafe CF

In [31]:
laliga_data.count

<bound method DataFrame.count of      Round             Date              Team 1   FT                Team 2
0        1  Sat Sep 12 2020            SD Eibar  0-0         RC Celta Vigo
1        1  Sat Sep 12 2020          Granada CF  2-0  Athletic Club Bilbao
2        1  Sat Sep 12 2020            Cádiz CF  0-2            CA Osasuna
3        1  Sun Sep 13 2020        FC Barcelona  NaN              Elche CF
4        1  Sun Sep 13 2020         Real Madrid  NaN             Getafe CF
..     ...              ...                 ...  ...                   ...
375     38  Sun May 23 2021          CA Osasuna  NaN         Real Sociedad
376     38  Sun May 23 2021         Real Madrid  NaN         Villarreal CF
377     38  Sun May 23 2021          Sevilla FC  NaN      Deportivo Alavés
378     38  Sun May 23 2021  Real Valladolid CF  NaN       Atlético Madrid
379     38  Sun May 23 2021            Elche CF  NaN  Athletic Club Bilbao

[380 rows x 5 columns]>

In [32]:
laliga

NameError: name 'laliga' is not defined

In [33]:
copy_laliga_data.columns

Index(['Unnamed: 0', 'Round', 'Date', 'Team 1', 'FT', 'Team 2'], dtype='object')

In [34]:
laliga_data.head()

   Round             Date        Team 1   FT                Team 2
0      1  Sat Sep 12 2020      SD Eibar  0-0         RC Celta Vigo
1      1  Sat Sep 12 2020    Granada CF  2-0  Athletic Club Bilbao
2      1  Sat Sep 12 2020      Cádiz CF  0-2            CA Osasuna
3      1  Sun Sep 13 2020  FC Barcelona  NaN              Elche CF
4      1  Sun Sep 13 2020   Real Madrid  NaN             Getafe CF

In [35]:
laliga_data.tail()

     Round             Date              Team 1   FT                Team 2
375     38  Sun May 23 2021          CA Osasuna  NaN         Real Sociedad
376     38  Sun May 23 2021         Real Madrid  NaN         Villarreal CF
377     38  Sun May 23 2021          Sevilla FC  NaN      Deportivo Alavés
378     38  Sun May 23 2021  Real Valladolid CF  NaN       Atlético Madrid
379     38  Sun May 23 2021            Elche CF  NaN  Athletic Club Bilbao

In [36]:
laliga_data.loc[2]

Round                   1
Date      Sat Sep 12 2020
Team 1           Cádiz CF
FT                    0-2
Team 2         CA Osasuna
Name: 2, dtype: object

In [37]:
laliga_data.ilocp[3]

AttributeError: 'DataFrame' object has no attribute 'ilocp'

In [38]:
laliga_data.iloc[3]

Round                   1
Date      Sun Sep 13 2020
Team 1       FC Barcelona
FT                    NaN
Team 2           Elche CF
Name: 3, dtype: object

In [39]:
laliga_data.Team 1=="FC Barcelona"

SyntaxError: invalid syntax (177008621.py, line 1)

In [42]:
laliga_data[laliga_data["FT"]=="NaN" ]

Empty DataFrame
Columns: [Round, Date, Team 1, FT, Team 2]
Index: []

In [43]:
laliga_data.FT

0      0-0
1      2-0
2      0-2
3      NaN
4      NaN
      ...
375    NaN
376    NaN
377    NaN
378    NaN
379    NaN
Name: FT, Length: 380, dtype: object

In [44]:
laliga_data[laliga_data.Ft=="NaN"]

AttributeError: 'DataFrame' object has no attribute 'Ft'

In [45]:
laliga_data[laliga_data["FT"]=="NaN"]

Empty DataFrame
Columns: [Round, Date, Team 1, FT, Team 2]
Index: []

In [46]:
new=laliga_data[laliga_data.Ft=="NaN"]

AttributeError: 'DataFrame' object has no attribute 'Ft'

In [47]:
new=laliga_data[laliga_data["FT"]=="NaN"]

In [48]:
new

Empty DataFrame
Columns: [Round, Date, Team 1, FT, Team 2]
Index: []

In [49]:
laliga_data

     Round             Date              Team 1   FT                Team 2
0        1  Sat Sep 12 2020            SD Eibar  0-0         RC Celta Vigo
1        1  Sat Sep 12 2020          Granada CF  2-0  Athletic Club Bilbao
2        1  Sat Sep 12 2020            Cádiz CF  0-2            CA Osasuna
3        1  Sun Sep 13 2020        FC Barcelona  NaN              Elche CF
4        1  Sun Sep 13 2020         Real Madrid  NaN             Getafe CF
..     ...              ...                 ...  ...                   ...
375     38  Sun May 23 2021          CA Osasuna  NaN         Real Sociedad
376     38  Sun May 23 2021         Real Madrid  NaN         Villarreal CF
377     38  Sun May 23 2021          Sevilla FC  NaN      Deportivo Alavés
378     38  Sun May 23 2021  Real Valladolid CF  NaN       Atlético Madrid
379     38  Sun May 23 2021            Elche CF  NaN  Athletic Club Bilbao

[380 rows x 5 columns]

In [50]:
laliga_data.Team 2

SyntaxError: invalid syntax (3204062925.py, line 1)

In [51]:
laliga_data.Team

SyntaxError: invalid syntax (3389979248.py, line 1)

In [52]:
laliga_data["FT"]

0      0-0
1      2-0
2      0-2
3      NaN
4      NaN
      ...
375    NaN
376    NaN
377    NaN
378    NaN
379    NaN
Name: FT, Length: 380, dtype: object

In [53]:
laliga_data["Team 2"]

0             RC Celta Vigo
1      Athletic Club Bilbao
2                CA Osasuna
3                  Elche CF
4                 Getafe CF
               ...
375           Real Sociedad
376           Villarreal CF
377        Deportivo Alavés
378         Atlético Madrid
379    Athletic Club Bilbao
Name: Team 2, Length: 380, dtype: object

In [69]:
laliga_data[laliga_data["FT"]=="0-0" or laliga_data["FT"]="1-1"]

SyntaxError: invalid syntax (1960242375.py, line 1)

In [72]:
animal=pd.Series(["bird","cat","dog","mouse"],index=[6,12,24,48])

In [73]:
animal

6      bird
12      cat
24      dog
48    mouse
dtype: object

In [74]:
animal.loc[12]

'cat'

In [75]:
animal.iloc[6]animal

IndexError: single positional indexer is out-of-bounds

In [76]:
animal.iloc[2]

'dog'

In [87]:
new_data=pd.DataFrame({"coloure":red,blue,yellow})

NameError: name 'red' is not defined

In [91]:
pd.DataFrame({"Animal":animal})

   Animal
6    bird
12    cat
24    dog
48  mouse

In [93]:
clothes=pd.Series(["shirt","skirt","jacket"])

In [94]:
clothes

0     shirt
1     skirt
2    jacket
dtype: object

In [109]:
new_clothes=pd.DataFrame({"box1":clothes,"box2":clothes})

In [110]:
new_clothes

     box1    box2
0   shirt   shirt
1   skirt   skirt
2  jacket  jacket